:root {
	--color-neutral-highlight: #7572D1;
	--font-sans:'Rubik', Tahoma, sans-serif;
}
.navbar{
	border-bottom: 2px solid var(--color-neutral-light);
	background-color: white;
	color: var(--color-black);
}
.nav a {
	color:var(--color-neutral-desable);
}
a:hover{
	color:var(--color-neutral-highlight);
}

.introduction-box{
	position: relative;
	bottom: -6em;
}
.generic-btn{
	border-radius: 0em 1em 0em 1em;
}

.card.soft{
	color: var(--color-neutral-medium);
}

.card.hard{
	color: var(--color-neutral-medium);
}
.price{
	font-size: var(--font-size-small);
	margin-block-start: 0em;
    margin-block-end: 0.4em;
}
.highlight .price{
	color: var(--color-white)
}
.product-name{
	margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-weight: 400;
}