:root {
	--color-highlight: #7572D1;
	--color-highlight-light: #b2affe;
	--font-sans:'Rubik', Tahoma, sans-serif;
}
.navbar{
	border-bottom: 2px solid var(--color-neutral-light);
	background-color: #ffffff;
	color: var(--color-black);
}
.nav a {
	color:var(--color-desable);
}
.navbar a:hover{
	color:var(--color-white);
}
.navbar a.brand-text:hover{
	color:var(--color-highlight);
}


.introduction-box{
	align-self: end;
}
.generic-btn{
	border-radius: 0em 1em 0em 1em;
}

.card.soft{
	color: var(--color-neutral-medium);
}

.card.hard{
	color: var(--color-neutral-medium);
}
.price{
	font-size: var(--font-size-sm);
	}
.highlight .price{
	color: var(--color-white)
}
.product-name{
    font-weight: 500;
    font-size: var(--font-size-md)
}
.buttons-box{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; 
}



.intro-image{
	height: 30rem;
	width: 30rem;
}

.cart-number::after{
	content: "0";
	font-size: 0.5em;
	color: var(--color-white);
	width:2em;
	height:2em;
	text-align: center;
	border-radius: 50%;
	background-color: var(--color-neutral-dark);
	display: block;
	line-height: 2em;
}

@media screen and (max-width: 1000px) {
  .introduction-box {
    text-align: center;
  }
}

.review-image{
	border: 3px solid var(--color-neutral-light);
	background-color: var(--color-neutral-light);

}
.dot-list .circle-xs:first-child {
	margin: 0.5em 0.5em 0.5em 0em;
}


