/*SUCULENTINA STORE THEME*/

:root {

	--color-neutral-light: #EDEDED;
	--color-neutral-dark: #35414B;

	--color-highlight: #517577;
	--color-highlight-light: #8F97AB;
	--color-highlight-alfa: rgba(83, 118, 120, 0.6);
	--coloe-gradient-light:linear-gradient(130deg, #ff00a2, blue, #00ff99, #ebff00);
	--color-gradient-medium: linear-gradient(-45deg, #D3D9D9, #F6F6F6);

	--color-white: #F6F6F6;
	--color-black: #13191E;

	--color-pure-white-alfa50: rgba(255, 255, 255, 0.5);
	--color-pure-white: #fff;

	

	/*--font-size-xxs: 0.4em;
	--font-size-xs: 1em;
	--font-size-sm: 1.7em;
	--font-size-md: 2.4em;*/
	--font-size-lg: 2.2em;

	
}

body{
	letter-spacing: 0.91px;
}


/* TYPOGRAPHY */
h1{
	margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 400;
    font-size: var(--font-size-lg);
}

h2{
	font-weight: 200;
	font-size: var(--font-size-lg);
	margin-block-start: 0em;
    margin-block-end: 0em;
}

h3{
	font-weight: 400;
	font-size: var(--font-size-md);
	color: var(--color-highlight);
	margin-block-start: 0em;
    margin-block-end: 0em;
}

h4{
	font-weight: 400;
	font-size: var(--font-size-sm);
	color: var(--color-highlight);
	margin-block-start: 0em;
    margin-block-end: 0em;
}

p{
	font-weight: 200;
	font-size: var(--font-size-xs);
	margin-block-start: 0em;
    margin-block-end: 0em;
}

p.p-title,
.generic-btn{
	font-weight: 400;
	font-size: 1.1em;
}

a.more-link{
	/*font-weight: 200;*/
	font-size: var(--font-size-xxs);
}

h3.code-spam, 
h4.code-spam {
	color: var(--color-neutral-medium);
} 
.text-white{
	color:var(--color-white);
}

.text-black{
	color:var(--color-black);
}

.text-highlight-light{
	color: var(--color-highlight-light);
}

.text-weight-light{
	font-weight: 200;
}
.text-xxs{
	    font-size: var(--font-size-xxs);
}


/* NAVBAR */

.nav a:hover{
	background-color:var(--color-highlight);
}
.cart-number{
	background-color: var(--color-highlight);
	font-weight: 600;

}
.cart-number:hover{
	background-color: var(--color-black);
}

/* FORMS */
.form-input, 
.textarea-input {
	border-left: 5px solid var(--color-highlight);
}

.form-select>select{
	border-left: 5px solid var(--color-highlight);
}

/* CARD */
.card{
	padding: 1.5em;
}


/* PRODUCT PAGE */
.product-box{
	background-image: var(--color-gradient-medium);
}
.product-quantity-input{
	width: 100px;
	/*border-right: 5px solid var(--color-highlight);   DELETE IF COMMENTED BY THE END OF JUL 2021*/ 
	background-color: var(--color-neutral-light);
}

.sale_price{
	color: var(--color-desable);
	text-decoration:line-through;
	font-size: var(--font-size-xs);
	padding-left: 10px;
}

.onsale::before{
	content:"Sale";
	position: absolute;
	top: 20px;
	right: 20px;
	color:var(--color-white);
	background-color: var(--color-highlight);
	border-radius: 50%;
	padding: 22px 15px 22px 15px;
}

.onsale2{
	font-size: 0.8em;
	color:var(--color-white);
	background-color: var(--color-highlight-light);
	border-radius: 5px;
	padding: 5px;
	margin-left: 10px;
}



.product-main-info-box.card.flat{
	background-color: var(--color-pure-white-alfa50);
	border-radius: 0 0 1em 1em ;
	height: 45rem;
}
@media screen and (max-width: 1000px) {
	.product-main-info-box.card.flat{
	  height: auto;
	  margin-top: var(--space-md);
	}
}
.secondary-product-a{
	  grid-column: 3 / span 7;
}

.secondary-product-b{
	  grid-column: 2 / span 2;
	  position:relative; 
	  top:-150px;
	  left: -20px;

}

@media screen and (max-width: 1000px) {
	.secondary-product-a{
	  margin-top: var(--space-md);
	}
	.secondary-product-b{
	  grid-column: 4 / span 7;
	  top:0;

	}
}
.product-details-list-box{
	background-color: var(--color-neutral-dark);
}

.porduct-details-list-title{
	color: var(--color-white);
	font-weight: 400;
}
.main-product-image{
	overflow: hidden;
}


/* PRODUCT LIST */

.product-price{
	font-size: var(--font-size-md);
}

.product-name{
	font-size: var(--font-size-sm);
	font-weight: 200;
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.review-image{
	border: 3px solid var(--color-neutral-light);
	background-color: var(--color-neutral-light);
}

.dot-list .circle-xs:first-child {
	margin: 0.5em 0.5em 0.5em 0em;
}

.filter_box{
	width: 100%;
	background-color: var(--color-neutral-light);
	padding: 1em;
}

@media screen and (max-width: 1000px) {
	.product_list_title{
	  text-align: center;
	}
}


/* FOOTER */
.suculentina-footer-box{
	background-color: var(--color-black);
}

.copyright{
	color: var(--color-white);
	font-size: var(--font-size-xxs);
}

.footer-title-a{
	color: var(--color-highlight);
	font-weight: 200;
	font-size: var(--font-size-sm);
	padding-top: var(--space-sm);
	text-align: center;

}

.footer-title-b{
	color: var(--color-highlight-light);
	font-weight: 200;
	font-size: var(--font-size-sm);
	padding-top: var(--space-sm);
}


footer>.info-section .body-text {
	font-size: 0.8em;
}
footer a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.form-input.half-left.footer,
.form-button.half-right-icon.footer{
	height: 1.8em;
	font-size: 0.9em;
}

.footer-links-box{
	grid-column: 6 / span 3;
}

@media screen and (max-width: 1000px) {
	.footer-links-box{
	  grid-column: 1 / span 4;
	}
}
.socialmedia-icon{
	width: 1.3em;
}



/* HOME PAGE */

.home-top-box,
.event-info-box{
	min-height: 70vh;
	background-image: url("../images/home_bg_desktop.png"); /* https://unsplash.com/photos/3BlVILvh9hM  */
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-top-title{
	padding-top: var(--space-lg);
}

.announce-box{
	width: 400px;
	margin-top: var(--space-lg);
}

.giant-text{
	font-size: 5em;
}

.top-more-link-box{
	background-color: var(--color-highlight-alfa);
	padding: 1em;
	width: 40%;
	margin-bottom: var(--space-md);
}

.top-more-link{
	text-align: right;
	margin-right: 3em;
	display: block;
	width: 100%;
}

.event-info-box{
	background-image: url("../images/home_bg_2.png");  /* https://unsplash.com/photos/EMQlhm12OfI  */	
}
					
.event-info-box2{
	background-image: url("../images/home_bg_2.png");  /* https://unsplash.com/photos/EMQlhm12OfI  */	
	
}


.giant-date{
	font-size: 7em;
	font-weight: 200;
}
.event-subtitle{
	text-align: right;
	font-size: 1.5em;
}

.arrival-content-box{
	margin-top: var(--space-lg);
}
.arrival-content-box.left{
	text-align: right;
}
.arrival-btn{
	margin-top: var(--space-md);
	margin-bottom: var(--space-xs);

}
.sale_btn{
	margin-top: var(--space-sm);
	margin-bottom: var(--space-md);
}

.best_seller_bigbox{
	max-width: 50%; 
	margin-left: 10px;
}
.intro_image{
	width: 90%;
	overflow: hidden;
}
@media screen and (max-width: 1000px) {
	.home-top-box{
	background-image: url("../images/home_bg_mobile.png");  /* https://unsplash.com/photos/EMQlhm12OfI  */
	}
	.announce-box{
	width: 100%;
	margin-top: var(--space-sm);
	}
	.home-top-title{
	padding-top: var(--space-sm);
	text-align: center;
	}
	.top-more-link-box{
	width: 100%;
	align-self: flex-end;
	margin-bottom: 0;
	}
	.event-subtitle{
		text-align: center;
	}
	.arrival-content-box, .arrival-content-box.left{
	margin-top: var(--space-sm);
	text-align: center;

	}
	.arrival-b{
		flex:none;
	}
	.arrival-btn {
	margin-top: var(--space-md);
	margin-bottom: var(--space-sm);
	width: 100%;
	}
	.sale_btn{
	margin-top: var(--space-sm);
	width: 100%;
	}
	.best_seller_bigbox{
		text-align: center;
		max-width: 100%;
	}
}

/*Photo by Artsy Vibes on Unsplash*/

/* ABOUT PAGE */

.about-info-box{
	min-height: 70vh;
	background-image: url("../images/about_bg_1.jpg"); /* https://unsplash.com/photos/1O9TIyCJN_E?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink  */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

.about-logo{
	width: 500px;
}

.client-review-text:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: var(--color-white);
  font-size: 3em;
}
.client-review-text::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: var(--color-white);
  font-size: 3em;
}


@media screen and (max-width: 1000px) {
	.about-logo{
	width: 250px;
	}
}

nav.crumbs> a{
	color: var(--color-highlight);
}

/* ADDED TO CATR */
.added-list-image{
	max-width: 200px; 
	justify-self: center; 
	background-position: center;
	background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
	.cart-list-image{
		width: 200px;
		height: 200px;
	}
	.added_list_header{
		  visibility: hidden;
		  height: 0px;

	}
}



/* SHOPPING CART */
.cart_item_quantity{
	max-width: 65px;
}
.icon-form-container{
	width: 36px;
}
.form-button_with-icon{
	display:inline-block;
	width:100%;
	border-width:0;
	color:var(--color-white);
	background-color:var(--color-neutral-light);
	padding:0.5em 1em;
	border-radius:0.5em;
	font:inherit;
	outline:0;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	transition:all 0.3s;
	-webkit-appearance:none;
}

.form-button_with-icon:hover{
	text-decoration:none;
	box-shadow:0 0 3px var(--color-neutral-medium);
}

.form-delete{
	border-radius: 0.5em 0.5em;
	width: auto;
	background-image: url("../images/icon/close.svg");
	box-sizing: border-box;
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: 1em 1em;
	padding:0.5em 1.3em;
	max-width: 1em;
}
.cart-list-image-box{
	margin-right: var(--space-sm);
}
.cart-list-image{
	width: 96px;
	height: 96px;
}

.list_separator{
	border-top: 1px solid var(--color-neutral-light);
}

.order_summary{
    margin-top: 0;
    margin-bottom: auto;
    margin-bottom: 0px;
    border-radius: 1em 1em 0 0;
}

.checkout_btn_box{
	border-radius: 0em 0em 0em 1em;
	background-color: var(--color-white);
}

.checkout_btn{
	margin-top: 0;
	margin: 0; 

}

@media screen and (max-width: 1000px) {
	.cart-list-image{
		width: 200px;
		height: 200px;
	}
	.cart_item_list_header{
		  visibility: hidden;

	}
}
.empty-cart{
	width: 100%;
	color: var(--color-desable);
}



/*ORDER CONFRIMATION*/
.month{
	font-size: 1.8em;
}
.confirmation_secondary_btn_box{
	grid-column: 5 / span 4;
}
.order_confirmation_summary{
	margin-top: 0;
    margin-bottom: 0px;
    border-radius: 1em 1em 0 0;
}
.continue_shop_btn_box{
	border-radius: 0em 0em 0em 1em;
	background-color: var(--color-white);
}
@media screen and (max-width: 750px) {
	.confirmation_secondary_btn_box{
		grid-column: 1 / span 12;
		margin-top: var(--space-sm);
	}
	.continue_shop_btn_box{
		border-radius: 0em 0em 0em 0em;
		background-color: transparent;
		margin-top: var(--space-sm);
	}
	.order_confirmation_summary{
	    border-radius: 1em;
	}
}

/* CHECKOUT */

.checkout_header{
	background-color: var(--color-highlight);
	padding: 1em;
	position: fixed;
	z-index: 11; width:100%;
}

.checkout_page_bg{
	background-color: var(--color-neutral-light);
}
.checkout_summary{
	padding: 0 1.5em 0 1.5em;
}
.form_card{
 	background-color: var(--color-pure-white);
	padding: 1.2em;
	border-radius: 1em;
	margin-top: 1.2em;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
 }
.copy_right{
	background-color: var(--color-neutral-dark);
	color: var(--color-white);
	font-size: 0.3em;
	font-weight: 200;
	padding: 7px;
	text-align: center;
}
.form_hr, .form_hr_last{
	visibility: hidden;
}
 @media screen and (max-width: 750px) {
 	.form_card{
	 	background-color: transparent;
		padding: 0em;
		border-radius: 0em;
		overflow: hidden;
		position: relative;
 	}
 	.checkout_page_bg{
 		background-color: var(--color-pure-white);
 	}
 	.form_hr{
	visibility: visible;
	margin-top: var(--space-md);
	margin-bottom: var(--space-md);
	}
	.form_hr_last{
	visibility: visible;
	margin-top: var(--space-md);
	margin-bottom: var(--space-sm);
	}
 }


/* PRODUCT ADMIN */

.admin-top-nav{
	visibility: hidden;
	height: 0px;
}
.admin-side-nav{
	visibility: visible;
}
@media screen and (max-width: 750px) {
	.admin-top-nav{
		visibility: visible;
		height: auto;
	}
	.admin-side-nav{
		visibility: hidden;
	}
}
.admin-gig-number{
	    font-size: 3em;
    font-weight: 200;

}

