:root {

	--color-neutral-light: #EDEDED;
	--color-neutral-dark: #35414B;

	--color-highlight: #508a7e;
	--color-highlight-light: #8F97AB;
	--color-highlight-alfa: rgba(83, 118, 120, 0.6);
	--color-gradient-medium: linear-gradient(-45deg, #D3D9D9, #F6F6F6);

	--color-white: #F6F6F6;
	--color-black: #13191E;

	--color-pure-white: #fff;

	--font-sans:'Rubik', Tahoma, sans-serif;

	/*--font-size-xxs: 0.8em;
	--font-size-xs: 1em;
	--font-size-sm: 1.7em;
	--font-size-md: 2.4em;
	--font-size-lg: 2em;

	*/
}

h1{
	font-size: var(--font-size-lg);

}
h2{
	font-weight: 200;
	font-size: var(--font-size-lg);
}
h3{
	font-weight: 400;
	font-size: var(--font-size-md);
	color: var(--color-highlight);
}
h4{
	font-weight: 400;
	font-size: var(--font-size-sm);
	color: var(--color-highlight);
}

p{
	font-weight: 200;
	font-size: var(--font-size-xs);
}

p.p-title{
	font-weight: 400;
	font-size: 1.3em);
}

a.more-link{
	font-weight: 200;
	font-size: var(--font-size-xxs);
}

.generic-btn{
	border-radius: 0em 1em 0em 1em;
}
.navbar{
	border-bottom: 2px solid var(--color-neutral-light);
	background-color: #ffffff;
	color: var(--color-black);
}
.nav a {
	color:var(--color-desable);
}
.navbar a:hover{
	color:var(--color-white);
}
.navbar a.brand-text:hover{
	color:var(--color-highlight);
}

.form-input, 
.textarea-input {
	border-left: 5px solid var(--color-highlight);
}

.form-select>select{
	border-left: 5px solid var(--color-highlight);
}

.product-price{
	font-size: var(--font-size-sm);
	
	}
/*.highlight .product-price{
	color: var(--color-white)
}*/










